/* ====================== Padding ======================================== */
.padding-1 {
  padding: 2 !important;
}
.padding-2 {
  padding: 2 !important;
}
.padding-3 {
  padding: 3 !important;
}
.padding-4 {
  padding: 4 !important;
}
.padding-5 {
  padding: 5 !important;
}
.padding-6 {
  padding: 6 !important;
}
.padding-7 {
  padding: 7 !important;
}
.padding-8 {
  padding: 8 !important;
}
.padding-9 {
  padding: 9 !important;
}
.padding-10 {
  padding: 10 !important;
}

.padding-11 {
  padding: 11px !important;
}

.padding-12 {
  padding: 12px !important;
}

.padding-13 {
  padding: 13px !important;
}

.padding-14 {
  padding: 14px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-17 {
  padding: 17px !important;
}

.padding-18 {
  padding: 18px !important;
}

.padding-19 {
  padding: 19px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-21 {
  padding: 21px !important;
}

.padding-22 {
  padding: 22px !important;
}

.padding-23 {
  padding: 23px !important;
}

.padding-24 {
  padding: 24px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-26 {
  padding: 26px !important;
}

.padding-27 {
  padding: 27px !important;
}

.padding-28 {
  padding: 28px !important;
}

.padding-29 {
  padding: 29px !important;
}

.padding-30 {
  padding: 30px !important;
}
.padding-31 {
  padding: 31px !important;
}
.padding-32 {
  padding: 32px !important;
}
.padding-33 {
  padding: 33px !important;
}
.padding-34 {
  padding: 34px !important;
}
.padding-35 {
  padding: 35px !important;
}
.padding-36 {
  padding: 36px !important;
}
.padding-37 {
  padding: 37px !important;
}
.padding-38 {
  padding: 38px !important;
}
.padding-39 {
  padding: 39px !important;
}
.padding-40 {
  padding: 40px !important;
}

/* ====================== Padding Top ====================== */
.ptop-1 {
  padding-top: 2 !important;
}
.ptop-2 {
  padding-top: 2 !important;
}
.ptop-3 {
  padding-top: 3 !important;
}
.ptop-4 {
  padding-top: 4 !important;
}
.ptop-5 {
  padding-top: 5 !important;
}
.ptop-6 {
  padding-top: 6 !important;
}
.ptop-7 {
  padding-top: 7 !important;
}
.ptop-8 {
  padding-top: 8 !important;
}
.ptop-9 {
  padding-top: 9 !important;
}
.ptop-10 {
  padding-top: 10 !important;
}

.ptop-11 {
  padding-top: 11px !important;
}

.ptop-12 {
  padding-top: 12px !important;
}

.ptop-13 {
  padding-top: 13px !important;
}

.ptop-14 {
  padding-top: 14px !important;
}

.ptop-15 {
  padding-top: 15px !important;
}

.ptop-16 {
  padding-top: 16px !important;
}

.ptop-17 {
  padding-top: 17px !important;
}

.ptop-18 {
  padding-top: 18px !important;
}

.ptop-19 {
  padding-top: 19px !important;
}

.ptop-20 {
  padding-top: 20px !important;
}

.ptop-21 {
  padding-top: 21px !important;
}

.ptop-22 {
  padding-top: 22px !important;
}

.ptop-23 {
  padding-top: 23px !important;
}

.ptop-24 {
  padding-top: 24px !important;
}

.ptop-25 {
  padding-top: 25px !important;
}

.ptop-26 {
  padding-top: 26px !important;
}

.ptop-27 {
  padding-top: 27px !important;
}

.ptop-28 {
  padding-top: 28px !important;
}

.ptop-29 {
  padding-top: 29px !important;
}

.ptop-30 {
  padding-top: 30px !important;
}
.ptop-31 {
  padding-top: 31px !important;
}
.ptop-32 {
  padding-top: 32px !important;
}
.ptop-33 {
  padding-top: 33px !important;
}
.ptop-34 {
  padding-top: 34px !important;
}
.ptop-35 {
  padding-top: 35px !important;
}
.ptop-36 {
  padding-top: 36px !important;
}
.ptop-37 {
  padding-top: 37px !important;
}
.ptop-38 {
  padding-top: 38px !important;
}
.ptop-39 {
  padding-top: 39px !important;
}
.ptop-40 {
  padding-top: 40px !important;
}

/* ====================== Padding bottom ======================*/
.pbottom-1 {
  padding-bottom: 2 !important;
}
.pbottom-2 {
  padding-bottom: 2 !important;
}
.pbottom-3 {
  padding-bottom: 3 !important;
}
.pbottom-4 {
  padding-bottom: 4 !important;
}
.pbottom-5 {
  padding-bottom: 5 !important;
}
.pbottom-6 {
  padding-bottom: 6 !important;
}
.pbottom-7 {
  padding-bottom: 7 !important;
}
.pbottom-8 {
  padding-bottom: 8 !important;
}
.pbottom-9 {
  padding-bottom: 9 !important;
}
.pbottom-10 {
  padding-bottom: 10 !important;
}

.pbottom-11 {
  padding-bottom: 11px !important;
}

.pbottom-12 {
  padding-bottom: 12px !important;
}

.pbottom-13 {
  padding-bottom: 13px !important;
}

.pbottom-14 {
  padding-bottom: 14px !important;
}

.pbottom-15 {
  padding-bottom: 15px !important;
}

.pbottom-16 {
  padding-bottom: 16px !important;
}

.pbottom-17 {
  padding-bottom: 17px !important;
}

.pbottom-18 {
  padding-bottom: 18px !important;
}

.pbottom-19 {
  padding-bottom: 19px !important;
}

.pbottom-20 {
  padding-bottom: 20px !important;
}

.pbottom-21 {
  padding-bottom: 21px !important;
}

.pbottom-22 {
  padding-bottom: 22px !important;
}

.pbottom-23 {
  padding-bottom: 23px !important;
}

.pbottom-24 {
  padding-bottom: 24px !important;
}

.pbottom-25 {
  padding-bottom: 25px !important;
}

.pbottom-26 {
  padding-bottom: 26px !important;
}

.pbottom-27 {
  padding-bottom: 27px !important;
}

.pbottom-28 {
  padding-bottom: 28px !important;
}

.pbottom-29 {
  padding-bottom: 29px !important;
}

.pbottom-30 {
  padding-bottom: 30px !important;
}
.pbottom-31 {
  padding-bottom: 31px !important;
}
.pbottom-32 {
  padding-bottom: 32px !important;
}
.pbottom-33 {
  padding-bottom: 33px !important;
}
.pbottom-34 {
  padding-bottom: 34px !important;
}
.pbottom-35 {
  padding-bottom: 35px !important;
}
.pbottom-36 {
  padding-bottom: 36px !important;
}
.pbottom-37 {
  padding-bottom: 37px !important;
}
.pbottom-38 {
  padding-bottom: 38px !important;
}
.pbottom-39 {
  padding-bottom: 39px !important;
}
.pbottom-40 {
  padding-bottom: 40px !important;
}

/* ====================== Padding Right ====================== */
.pright-1 {
  padding-right: 2 !important;
}
.pright-2 {
  padding-right: 2 !important;
}
.pright-3 {
  padding-right: 3 !important;
}
.pright-4 {
  padding-right: 4 !important;
}
.pright-5 {
  padding-right: 5 !important;
}
.pright-6 {
  padding-right: 6 !important;
}
.pright-7 {
  padding-right: 7 !important;
}
.pright-8 {
  padding-right: 8 !important;
}
.pright-9 {
  padding-right: 9 !important;
}
.pright-10 {
  padding-right: 10 !important;
}

.pright-11 {
  padding-right: 11px !important;
}

.pright-12 {
  padding-right: 12px !important;
}

.pright-13 {
  padding-right: 13px !important;
}

.pright-14 {
  padding-right: 14px !important;
}

.pright-15 {
  padding-right: 15px !important;
}

.pright-16 {
  padding-right: 16px !important;
}

.pright-17 {
  padding-right: 17px !important;
}

.pright-18 {
  padding-right: 18px !important;
}

.pright-19 {
  padding-right: 19px !important;
}

.pright-20 {
  padding-right: 20px !important;
}

.pright-21 {
  padding-right: 21px !important;
}

.pright-22 {
  padding-right: 22px !important;
}

.pright-23 {
  padding-right: 23px !important;
}

.pright-24 {
  padding-right: 24px !important;
}

.pright-25 {
  padding-right: 25px !important;
}

.pright-26 {
  padding-right: 26px !important;
}

.pright-27 {
  padding-right: 27px !important;
}

.pright-28 {
  padding-right: 28px !important;
}

.pright-29 {
  padding-right: 29px !important;
}

.pright-30 {
  padding-right: 30px !important;
}
.pright-31 {
  padding-right: 31px !important;
}
.pright-32 {
  padding-right: 32px !important;
}
.pright-33 {
  padding-right: 33px !important;
}
.pright-34 {
  padding-right: 34px !important;
}
.pright-35 {
  padding-right: 35px !important;
}
.pright-36 {
  padding-right: 36px !important;
}
.pright-37 {
  padding-right: 37px !important;
}
.pright-38 {
  padding-right: 38px !important;
}
.pright-39 {
  padding-right: 39px !important;
}
.pright-40 {
  padding-right: 40px !important;
}

/* ====================== Padding Left  ======================*/
.pleft-1 {
  padding-left: 2 !important;
}
.pleft-2 {
  padding-left: 2 !important;
}
.pleft-3 {
  padding-left: 3 !important;
}
.pleft-4 {
  padding-left: 4 !important;
}
.pleft-5 {
  padding-left: 5 !important;
}
.pleft-6 {
  padding-left: 6 !important;
}
.pleft-7 {
  padding-left: 7 !important;
}
.pleft-8 {
  padding-left: 8 !important;
}
.pleft-9 {
  padding-left: 9 !important;
}
.pleft-10 {
  padding-left: 10 !important;
}

.pleft-11 {
  padding-left: 11px !important;
}

.pleft-12 {
  padding-left: 12px !important;
}

.pleft-13 {
  padding-left: 13px !important;
}

.pleft-14 {
  padding-left: 14px !important;
}

.pleft-15 {
  padding-left: 15px !important;
}

.pleft-16 {
  padding-left: 16px !important;
}

.pleft-17 {
  padding-left: 17px !important;
}

.pleft-18 {
  padding-left: 18px !important;
}

.pleft-19 {
  padding-left: 19px !important;
}

.pleft-20 {
  padding-left: 20px !important;
}

.pleft-21 {
  padding-left: 21px !important;
}

.pleft-22 {
  padding-left: 22px !important;
}

.pleft-23 {
  padding-left: 23px !important;
}

.pleft-24 {
  padding-left: 24px !important;
}

.pleft-25 {
  padding-left: 25px !important;
}

.pleft-26 {
  padding-left: 26px !important;
}

.pleft-27 {
  padding-left: 27px !important;
}

.pleft-28 {
  padding-left: 28px !important;
}

.pleft-29 {
  padding-left: 29px !important;
}

.pleft-30 {
  padding-left: 30px !important;
}
.pleft-31 {
  padding-left: 31px !important;
}
.pleft-32 {
  padding-left: 32px !important;
}
.pleft-33 {
  padding-left: 33px !important;
}
.pleft-34 {
  padding-left: 34px !important;
}
.pleft-35 {
  padding-left: 35px !important;
}
.pleft-36 {
  padding-left: 36px !important;
}
.pleft-37 {
  padding-left: 37px !important;
}
.pleft-38 {
  padding-left: 38px !important;
}
.pleft-39 {
  padding-left: 39px !important;
}
.pleft-40 {
  padding-left: 40px !important;
}
