/* Almarai Font  */
.font-almarai {
  font-family: "Almarai" !important;
}

.font-almarai-light {
  font-family: "Almarai-Light" !important;
}

.font-almarai-bold {
  font-family: "Almarai-Bold" !important;
}

.font-almarai-extra-bold {
  font-family: "Almarai-ExtraBold" !important;
}

/* Almarai Font  */
.font-almarai {
  font-family: "Almarai" !important;
}

.font-light {
  font-family: "Almarai-Light" !important;
}

.font-bold {
  font-family: "Almarai-Bold" !important;
}

.font-extra-bold {
  font-family: "Almarai-ExtraBold" !important;
}
