/* Font used in admin UI*/
.admin-font {
  & p,
  & div,
  & section,
  & a,
  & li,
  & ul,
  & button,
  .btn,
  .mat-raised-button,
  & mat-label,
  & label {
    font-family: "Roboto-Regular", serif !important;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  .mat-card-title,
  .card .card-title,
  .content-header, .page-title,
  .navlogo,
  .mat-card.course-card .description .title p,
  .dashed-btn p {
    font-family: "Roboto-Bold", serif !important;
  }

  .table-container td.mat-cell,
  .table-container td.mat-cell > span,
  & th.mat-header-cell,
  & td.mat-cell,
  & td.mat-footer-cell,
  & mat-sort-header-container {
    font-family: Roboto-Medium, serif !important;
  }
}


/* Font used in Employee UI*/
.default-font {
  & p,
  & div,
  & section,
  & a,
  & li,
  & ul,
  & button,
  .btn,
  .mat-raised-button,
  & mat-label,
  & label {
    font-family: "agrandirRegular", serif !important;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  .mat-card-title,
  .card .card-title,
  .content-header, .page-title,
  .table-container td.mat-cell,
  .table-container td.mat-cell > span,
  & th.mat-header-cell,
  & td.mat-cell,
  & td.mat-footer-cell,
  .navlogo,
  .mat-card.course-card .description .title p {
    font-family: "agrandirBold", serif !important;
  }
}

