$main-color: #2a6eed;
$second-color: #374761;
$third-color: #6f6c90;
$orange-color: #E86820;
$dark-color: #4e5566;
$font-second-color: #193141;
$success-color: #258f6e;
$danger-color: #d1031b;
$btn-line-height: 1.8;
$btn-padding: 10px;
