@import "assets/sass/style-constants";

@for $i from 1 through 40 {
  /* ====================== margin ====================== */
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  /* ====================== margin Top ====================== */
  .mtop-#{$i} {
    margin-top: #{$i}px !important;
  }
  /* ====================== margin bottom ======================*/
  .mbottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  /* ====================== margin Right ====================== */
  .mright-#{$i} {
    margin-right: #{$i}px !important;
  }
  /* ====================== margin Left  ======================*/
  .mleft-#{$i} {
    margin-left: #{$i}px !important;
  }

  /* ====================== padding ====================== */
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
  /* ====================== padding Top ====================== */
  .ptop-#{$i} {
    padding-top: #{$i}px !important;
  }
  /* ====================== padding bottom ======================*/
  .pbottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  /* ====================== padding Right ====================== */
  .pright-#{$i} {
    padding-right: #{$i}px !important;
  }
  /* ====================== padding Left  ======================*/
  .pleft-#{$i} {
    padding-left: #{$i}px !important;
  }

  /* ====================== font size ====================== */
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }
}

.orange-btn {
  background-color: $main-color;
  color: #fff;
  border: none;
}

.orange-outline-btn {
  background-color: #fff;
  border: solid 2px $main-color;
  color: $main-color;
}

.orange-btn:disabled,
.bark-blue-btn:disabled {
  opacity: 0.6;
}

.bark-blue-btn {
  color: #fff;
  background-color: $dark-blue-color;
  border: none;
}

.bark-blue-outline-btn {
  background-color: #fff;
  border: solid 2px $dark-blue-color;
  color: $dark-blue-color;
}

.icon-btn {
  border-radius: 22.5px;
  background-color: #fff;
  border: 2px solid $dark-blue-color;
}

.bg-darkBlue {
  background-color: $dark-blue-color;
}
