@font-face {
  font-family: interExtraLight;
  src: url(../fonts/Inter/static/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: interLight;
  src: url(../fonts/Inter/static/Inter-Light.ttf);
}

@font-face {
  font-family: interRegular;
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: interMedium;
  src: url(../fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
  font-family: interMedium;
  src: url(../fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
  font-family: interSemiBold;
  src: url(../fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: interBold;
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: interExtraBold;
  src: url(../fonts/Inter/static/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: interThin;
  src: url(../fonts/Inter/static/Inter-Thin.ttf);
}

@font-face {
  font-family: interBlack;
  src: url(../fonts/Inter/static/Inter-Black.ttf);
}


.interExtraLight {
  font-family: "interExtraLight", serif !important;
}

.interLight {
  font-family: "interLight", serif !important;
}

.interRegular {
  font-family: "interRegular", serif !important;
}

.interMedium {
  font-family: "interMedium", serif !important;
}

.interSemiBold {
  font-family: "interSemiBold", serif !important;
}

.interBold {
  font-family: "interBold", serif !important;
}

.interExtraBold {
  font-family: "interExtraBold", serif !important;
}

.interThin {
  font-family: "interThin", serif !important;
}

.interBlack {
  font-family: "interBlack", serif !important;
}
