@font-face {
  font-family: Almarai-Light;
  src: url(../fonts/almarai/Almarai-Light.ttf);
}


@font-face {
  font-family: Almarai;
  src: url(../fonts/almarai/Almarai-Regular.ttf);
}


@font-face {
  font-family: Almarai-Bold;
  src: url(../fonts/almarai/Almarai-Bold.ttf);
}


@font-face {
  font-family: Almarai-ExtraBold;
  src: url(../fonts/almarai/Almarai-ExtraBold.ttf);
}

/*  Axi Font General   using same classes name in ar file fonts  */
.almarai-light {
  font-family: "Almarai-Light", serif !important;
}

.almarai {
  font-family: "Almarai", serif !important;
}

.almarai-bold {
  font-family: "Almarai-Bold", serif !important;
}

.almarai-extraBold {
  font-family: "Almarai-ExtraBold", serif !important;
}

