/* // English Fonts interface   */


/* // light font   */

@font-face {
    font-family: Axi-Light;
    src: url(../fonts/Axiforma-Light.woff);
}


/* // Regular font   */

@font-face {
    font-family: Axi-Regular;
    src: url(../fonts/Axiforma-Regular.woff);
}


/* // Simi Bold font   */

@font-face {
    font-family: Axi-SemiBold;
    src: url(../fonts/Axiforma-SemiBold.woff);
}


/* // bold font   */

@font-face {
    font-family: Axi-Bold;
    src: url(../fonts/Axiforma-Bold.woff);
}


/* // bold italic font   */

@font-face {
    font-family: Axi-BoldItalic;
    src: url(../fonts/Axiforma-BoldItalic.woff);
}


/* // arabic Fonts interface   */


/* // light font   */

@font-face {
    font-family: Almarai-Light;
    src: url(../fonts/Almarai-Light.ttf);
}


/* // Regular font   */

@font-face {
    font-family: Almarai;
    src: url(../fonts/Almarai-Regular.ttf);
}


/* // Bold font   */

@font-face {
    font-family: Almarai-Bold;
    src: url(../fonts/Almarai-Bold.ttf);
}


/* // ExtraBold font   */

@font-face {
    font-family: Almarai-ExtraBold;
    src: url(../fonts/Almarai-ExtraBold.ttf);
}