html body.layout-dark.layout-transparent.bg-glass-1,
html body.layout-dark.layout-transparent .bg-glass-1 {
    background-image: linear-gradient(135deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 17%, rgba(27, 27, 27, 0.05) 17%, rgba(27, 27, 27, 0.05) 34%, rgba(31, 31, 31, 0.05) 34%, rgba(31, 31, 31, 0.05) 93%, rgba(242, 242, 242, 0.05) 93%, rgba(242, 242, 242, 0.05) 100%), linear-gradient(135deg, rgba(129, 129, 129, 0.05) 0%, rgba(129, 129, 129, 0.05) 66%, rgba(117, 117, 117, 0.05) 66%, rgba(117, 117, 117, 0.05) 91%, rgba(199, 199, 199, 0.05) 91%, rgba(199, 199, 199, 0.05) 100%), linear-gradient(135deg, rgba(31, 31, 31, 0.07) 0%, rgba(31, 31, 31, 0.07) 15%, rgba(139, 139, 139, 0.07) 15%, rgba(139, 139, 139, 0.07) 23%, rgba(200, 200, 200, 0.07) 23%, rgba(200, 200, 200, 0.07) 29%, rgba(102, 102, 102, 0.07) 29%, rgba(102, 102, 102, 0.07) 100%), linear-gradient(90deg, #002e7f, #42e1b9);
}

.vertical-layout.navbar-sticky .header-navbar,
.app-sidebar[data-background-color="man-of-steel"] .sidebar-background:after {
    background-image: linear-gradient(135deg, #002e7f, #42e1b9) !important;
}

.app-sidebar[data-background-color="man-of-steel"] .logo-text {
    color: #42e1b9;
}

.content-wrapper {
    padding: 0;
}

a {
    color: #30b79d;
    text-decoration: none;
    background-color: transparent;
}

a:focus,
a:active,
a:hover {
    color: #30b79d;
}

.mainbanner {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url('../../app-assets/img/photos/weather-1.jpg');
}

.overbannerlay {
    background: #00000075;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.maintitle {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.menucarts--container {
    padding: 30px;
}

.menu--cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.cart--icon {
    font-size: 35px;
    padding-bottom: 5px;
}

.menu--carttitle {
    padding: 5px 0;
}

.bg-color1 {
    background-color: #ab0809;
}

.bg-color2 {
    background-color: #076d7c;
}

.bg-color3 {
    background-color: #0357d4;
}

.bg-color4 {
    background-color: #bc056d;
}

.bg-color5 {
    background-color: #a400c3;
}

.bg-color6 {
    background-color: #5c718c;
}

.bg-color7 {
    background-color: #6d32aa;
}

.content-header.colorwhite {
    color: #fff !important;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 8px;
}

.spycontainer {
    position: relative;
    width: 100%;
}

.spynav .nav-link {
    color: #30b79d !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.nav-tabs.spynav .nav-link.active {
    border-bottom: 2px solid #fff !important;
}

.tabspy {
    padding: 30px;
}

.divider {
    margin: 0px 30px;
    border-bottom: 1px solid #e1dbdb;
}

.btn-primary {
    color: #fff;
    background-color: #30b79d;
    border-color: #30b79d;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #42e1b9;
    border-color: #42e1b9;
}

.btn-primary:hover {
    background-color: #42e1b9;
    border-color: #42e1b9;
}

.btn-primary:active {
    background-color: #42e1b9;
    border-color: #42e1b9;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #42e1b9;
    border-color: #42e1b9;
    box-shadow: 0 0 0 0.2rem rgba(115, 229, 255, 0.5);
}

body[data-menu="vertical-menu"] .app-sidebar .navigation li.active>a:before {
    border-right: solid 5px #42e1b9;
}

.cardSection {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 20px;
}

.cardSectionTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.cardSectionTitle h5 {
    font-size: 15px;
    color: #002e7f;
}

.cardSectionTitle a {
    margin-left: 10px;
    font-size: 15px;
}

.cardSectionBody .rowItem p {
    margin-bottom: 5px;
}

.hidden {
    display: none !important;
}

.actionlinkso {
    padding: 5px;
}

.tableActDrop {
    padding: 2px 6px 0 6px;
    background-color: transparent;
    color: #30b79d;
    border: 0;
}

.page-link {
    color: #30b79d;
}

.page-link:hover {
    color: #42e1b9;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #42e1b9;
    border-color: #42e1b9;
}

.tableclickablerow tbody tr {
    cursor: pointer;
}

.editable a i {
    display: none;
    color: #30b79d;
    transition: all 0.24s ease-in-out;
}

.editable:hover a i {
    display: inline-block;
}

.smalltable.table th,
.smalltable.table td {
    padding: 6px;
    vertical-align: top;
    border-top: 1px solid #E0E0E0;
    font-size: 12px;
}

.smalltable.table thead th {
    font-weight: 400;
    color: #000;
    font-size: 14px;
}