/* 200 */
@font-face {
  font-family: cairoExtraLight;
  src: url(../fonts/cairo/Cairo-ExtraLight.ttf);
}

/* 300 */
@font-face {
  font-family: cairoLight;
  src: url(../fonts/cairo/Cairo-Light.ttf);
}

/* 400 */
@font-face {
  font-family: cairoRegular;
  src: url(../fonts/cairo/Cairo-Regular.ttf);
}

/* 500 */
@font-face {
  font-family: cairoMedium;
  src: url(../fonts/cairo/Cairo-Medium.ttf);
}

/* 600 */
@font-face {
  font-family: cairoSemiBold;
  src: url(../fonts/cairo/Cairo-SemiBold.ttf);
}

/* 700 */
@font-face {
  font-family: cairoBold;
  src: url(../fonts/cairo/Cairo-Bold.ttf);
}

/* 800 */
@font-face {
  font-family: cairoExtraBold;
  src: url(../fonts/cairo/Cairo-ExtraBold.ttf);
}

/* 900 */
@font-face {
  font-family: cairoBlack;
  src: url(../fonts/cairo/Cairo-Black.ttf);
}
