@for $i from 1 through 50 {
  /* ====================== margin ====================== */
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  /* ====================== margin Top ====================== */
  .mtop-#{$i} {
    margin-top: #{$i}px !important;
  }
  /* ====================== margin bottom ======================*/
  .mbottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  /* ====================== margin Right ====================== */
  .mright-#{$i} {
    margin-right: #{$i}px !important;
  }
  /* ====================== margin Left  ======================*/
  .mleft-#{$i} {
    margin-left: #{$i}px !important;
  }

  /* ====================== padding ====================== */
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
  /* ====================== padding Top ====================== */
  .ptop-#{$i} {
    padding-top: #{$i}px !important;
  }
  /* ====================== padding bottom ======================*/
  .pbottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  /* ====================== padding Right ====================== */
  .pright-#{$i} {
    padding-right: #{$i}px !important;
  }
  /* ====================== padding Left  ======================*/
  .pleft-#{$i} {
    padding-left: #{$i}px !important;
  }

  /* ====================== font size ====================== */
  .font-size-#{$i} {
    font-size: #{$i}px !important;
  }

  /* ====================== border-radius ====================== */
  .radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}

// ====================== Buttons ======================

// dark blue btn
.btn-darkBlue {
  color: #fff !important;
  background-color: #374761 !important;
  border-color: #374761 !important;
}

.btn-darkBlue:hover,
.btn-darkBlue:active,
.btn-darkBlue:focus {
  color: #fff !important;
  background-color: #576579 !important;
  border-color: #374761 !important;
}

// dark blue border btn
.btn-darkBlue-border {
  border: 2px solid #374761 !important;
  color: black;
  box-shadow: none !important;
}

.btn-darkBlue-border:hover,
.btn-darkBlue-border:active,
.btn-darkBlue-border:focus {
  border: 2px solid #576579 !important;
  color: black;
  box-shadow: none !important;
}

// lightGreen btn
.btn-lightGreen {
  color: #fff !important;
  background-color: #30b79d !important;
  border-color: #30b79d;
  float: right;
}

.btn-lightGreen:hover,
.btn-lightGreen:active,
.btn-lightGreen:focus {
  background-color: #42e1b9 !important;
  border-color: #42e1b9 !important;
}

.icon-lightGreen {
  color: #30b79d !important;
  cursor: pointer;
}

.btn-large {
  padding-right: 40px !important;
  padding-left: 45px !important;
  line-height: 2.5 !important;
}

.darkBlue {
  color: #374761 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.line-height-1_5 {
  line-height: 1.5 !important;
}

.line-height-2 {
  line-height: 2 !important;
}

.line-height-2_5 {
  line-height: 2.5 !important;
}

.line-height-3 {
  line-height: 3 !important;
}

.line-height-3_5 {
  line-height: 3.5 !important;
}

.line-height-4 {
  line-height: 4 !important;
}

.line-height-4_5 {
  line-height: 4.5 !important;
}
