/* ====================== margin ======================================== */
.margin-1 {
  margin: 2 !important;
}
.margin-2 {
  margin: 2 !important;
}
.margin-3 {
  margin: 3 !important;
}
.margin-4 {
  margin: 4 !important;
}
.margin-5 {
  margin: 5 !important;
}
.margin-6 {
  margin: 6 !important;
}
.margin-7 {
  margin: 7 !important;
}
.margin-8 {
  margin: 8 !important;
}
.margin-9 {
  margin: 9 !important;
}
.margin-10 {
  margin: 10 !important;
}

.margin-11 {
  margin: 11px !important;
}

.margin-12 {
  margin: 12px !important;
}

.margin-13 {
  margin: 13px !important;
}

.margin-14 {
  margin: 14px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-16 {
  margin: 16px !important;
}

.margin-17 {
  margin: 17px !important;
}

.margin-18 {
  margin: 18px !important;
}

.margin-19 {
  margin: 19px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-21 {
  margin: 21px !important;
}

.margin-22 {
  margin: 22px !important;
}

.margin-23 {
  margin: 23px !important;
}

.margin-24 {
  margin: 24px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-26 {
  margin: 26px !important;
}

.margin-27 {
  margin: 27px !important;
}

.margin-28 {
  margin: 28px !important;
}

.margin-29 {
  margin: 29px !important;
}

.margin-30 {
  margin: 30px !important;
}
.margin-31 {
  margin: 31px !important;
}
.margin-32 {
  margin: 32px !important;
}
.margin-33 {
  margin: 33px !important;
}
.margin-34 {
  margin: 34px !important;
}
.margin-35 {
  margin: 35px !important;
}
.margin-36 {
  margin: 36px !important;
}
.margin-37 {
  margin: 37px !important;
}
.margin-38 {
  margin: 38px !important;
}
.margin-39 {
  margin: 39px !important;
}
.margin-40 {
  margin: 40px !important;
}

/* ====================== margin Top ====================== */
.mtop-1 {
  margin-top: 2 !important;
}
.mtop-2 {
  margin-top: 2 !important;
}
.mtop-3 {
  margin-top: 3 !important;
}
.mtop-4 {
  margin-top: 4 !important;
}
.mtop-5 {
  margin-top: 5 !important;
}
.mtop-6 {
  margin-top: 6 !important;
}
.mtop-7 {
  margin-top: 7 !important;
}
.mtop-8 {
  margin-top: 8 !important;
}
.mtop-9 {
  margin-top: 9 !important;
}
.mtop-10 {
  margin-top: 10 !important;
}

.mtop-11 {
  margin-top: 11px !important;
}

.mtop-12 {
  margin-top: 12px !important;
}

.mtop-13 {
  margin-top: 13px !important;
}

.mtop-14 {
  margin-top: 14px !important;
}

.mtop-15 {
  margin-top: 15px !important;
}

.mtop-16 {
  margin-top: 16px !important;
}

.mtop-17 {
  margin-top: 17px !important;
}

.mtop-18 {
  margin-top: 18px !important;
}

.mtop-19 {
  margin-top: 19px !important;
}

.mtop-20 {
  margin-top: 20px !important;
}

.mtop-21 {
  margin-top: 21px !important;
}

.mtop-22 {
  margin-top: 22px !important;
}

.mtop-23 {
  margin-top: 23px !important;
}

.mtop-24 {
  margin-top: 24px !important;
}

.mtop-25 {
  margin-top: 25px !important;
}

.mtop-26 {
  margin-top: 26px !important;
}

.mtop-27 {
  margin-top: 27px !important;
}

.mtop-28 {
  margin-top: 28px !important;
}

.mtop-29 {
  margin-top: 29px !important;
}

.mtop-30 {
  margin-top: 30px !important;
}
.mtop-31 {
  margin-top: 31px !important;
}
.mtop-32 {
  margin-top: 32px !important;
}
.mtop-33 {
  margin-top: 33px !important;
}
.mtop-34 {
  margin-top: 34px !important;
}
.mtop-35 {
  margin-top: 35px !important;
}
.mtop-36 {
  margin-top: 36px !important;
}
.mtop-37 {
  margin-top: 37px !important;
}
.mtop-38 {
  margin-top: 38px !important;
}
.mtop-39 {
  margin-top: 39px !important;
}
.mtop-40 {
  margin-top: 40px !important;
}

/* ====================== margin bottom ======================*/
.mbottom-1 {
  margin-bottom: 2 !important;
}
.mbottom-2 {
  margin-bottom: 2 !important;
}
.mbottom-3 {
  margin-bottom: 3 !important;
}
.mbottom-4 {
  margin-bottom: 4 !important;
}
.mbottom-5 {
  margin-bottom: 5 !important;
}
.mbottom-6 {
  margin-bottom: 6 !important;
}
.mbottom-7 {
  margin-bottom: 7 !important;
}
.mbottom-8 {
  margin-bottom: 8 !important;
}
.mbottom-9 {
  margin-bottom: 9 !important;
}
.mbottom-10 {
  margin-bottom: 10 !important;
}

.mbottom-11 {
  margin-bottom: 11px !important;
}

.mbottom-12 {
  margin-bottom: 12px !important;
}

.mbottom-13 {
  margin-bottom: 13px !important;
}

.mbottom-14 {
  margin-bottom: 14px !important;
}

.mbottom-15 {
  margin-bottom: 15px !important;
}

.mbottom-16 {
  margin-bottom: 16px !important;
}

.mbottom-17 {
  margin-bottom: 17px !important;
}

.mbottom-18 {
  margin-bottom: 18px !important;
}

.mbottom-19 {
  margin-bottom: 19px !important;
}

.mbottom-20 {
  margin-bottom: 20px !important;
}

.mbottom-21 {
  margin-bottom: 21px !important;
}

.mbottom-22 {
  margin-bottom: 22px !important;
}

.mbottom-23 {
  margin-bottom: 23px !important;
}

.mbottom-24 {
  margin-bottom: 24px !important;
}

.mbottom-25 {
  margin-bottom: 25px !important;
}

.mbottom-26 {
  margin-bottom: 26px !important;
}

.mbottom-27 {
  margin-bottom: 27px !important;
}

.mbottom-28 {
  margin-bottom: 28px !important;
}

.mbottom-29 {
  margin-bottom: 29px !important;
}

.mbottom-30 {
  margin-bottom: 30px !important;
}
.mbottom-31 {
  margin-bottom: 31px !important;
}
.mbottom-32 {
  margin-bottom: 32px !important;
}
.mbottom-33 {
  margin-bottom: 33px !important;
}
.mbottom-34 {
  margin-bottom: 34px !important;
}
.mbottom-35 {
  margin-bottom: 35px !important;
}
.mbottom-36 {
  margin-bottom: 36px !important;
}
.mbottom-37 {
  margin-bottom: 37px !important;
}
.mbottom-38 {
  margin-bottom: 38px !important;
}
.mbottom-39 {
  margin-bottom: 39px !important;
}
.mbottom-40 {
  margin-bottom: 40px !important;
}

/* ====================== margin Right ====================== */
.mright-1 {
  margin-right: 2 !important;
}
.mright-2 {
  margin-right: 2 !important;
}
.mright-3 {
  margin-right: 3 !important;
}
.mright-4 {
  margin-right: 4 !important;
}
.mright-5 {
  margin-right: 5 !important;
}
.mright-6 {
  margin-right: 6 !important;
}
.mright-7 {
  margin-right: 7 !important;
}
.mright-8 {
  margin-right: 8 !important;
}
.mright-9 {
  margin-right: 9 !important;
}
.mright-10 {
  margin-right: 10 !important;
}

.mright-11 {
  margin-right: 11px !important;
}

.mright-12 {
  margin-right: 12px !important;
}

.mright-13 {
  margin-right: 13px !important;
}

.mright-14 {
  margin-right: 14px !important;
}

.mright-15 {
  margin-right: 15px !important;
}

.mright-16 {
  margin-right: 16px !important;
}

.mright-17 {
  margin-right: 17px !important;
}

.mright-18 {
  margin-right: 18px !important;
}

.mright-19 {
  margin-right: 19px !important;
}

.mright-20 {
  margin-right: 20px !important;
}

.mright-21 {
  margin-right: 21px !important;
}

.mright-22 {
  margin-right: 22px !important;
}

.mright-23 {
  margin-right: 23px !important;
}

.mright-24 {
  margin-right: 24px !important;
}

.mright-25 {
  margin-right: 25px !important;
}

.mright-26 {
  margin-right: 26px !important;
}

.mright-27 {
  margin-right: 27px !important;
}

.mright-28 {
  margin-right: 28px !important;
}

.mright-29 {
  margin-right: 29px !important;
}

.mright-30 {
  margin-right: 30px !important;
}
.mright-31 {
  margin-right: 31px !important;
}
.mright-32 {
  margin-right: 32px !important;
}
.mright-33 {
  margin-right: 33px !important;
}
.mright-34 {
  margin-right: 34px !important;
}
.mright-35 {
  margin-right: 35px !important;
}
.mright-36 {
  margin-right: 36px !important;
}
.mright-37 {
  margin-right: 37px !important;
}
.mright-38 {
  margin-right: 38px !important;
}
.mright-39 {
  margin-right: 39px !important;
}
.mright-40 {
  margin-right: 40px !important;
}

/* ====================== margin Left  ======================*/
.mleft-1 {
  margin-left: 2 !important;
}
.mleft-2 {
  margin-left: 2 !important;
}
.mleft-3 {
  margin-left: 3 !important;
}
.mleft-4 {
  margin-left: 4 !important;
}
.mleft-5 {
  margin-left: 5 !important;
}
.mleft-6 {
  margin-left: 6 !important;
}
.mleft-7 {
  margin-left: 7 !important;
}
.mleft-8 {
  margin-left: 8 !important;
}
.mleft-9 {
  margin-left: 9 !important;
}
.mleft-10 {
  margin-left: 10 !important;
}

.mleft-11 {
  margin-left: 11px !important;
}

.mleft-12 {
  margin-left: 12px !important;
}

.mleft-13 {
  margin-left: 13px !important;
}

.mleft-14 {
  margin-left: 14px !important;
}

.mleft-15 {
  margin-left: 15px !important;
}

.mleft-16 {
  margin-left: 16px !important;
}

.mleft-17 {
  margin-left: 17px !important;
}

.mleft-18 {
  margin-left: 18px !important;
}

.mleft-19 {
  margin-left: 19px !important;
}

.mleft-20 {
  margin-left: 20px !important;
}

.mleft-21 {
  margin-left: 21px !important;
}

.mleft-22 {
  margin-left: 22px !important;
}

.mleft-23 {
  margin-left: 23px !important;
}

.mleft-24 {
  margin-left: 24px !important;
}

.mleft-25 {
  margin-left: 25px !important;
}

.mleft-26 {
  margin-left: 26px !important;
}

.mleft-27 {
  margin-left: 27px !important;
}

.mleft-28 {
  margin-left: 28px !important;
}

.mleft-29 {
  margin-left: 29px !important;
}

.mleft-30 {
  margin-left: 30px !important;
}
.mleft-31 {
  margin-left: 31px !important;
}
.mleft-32 {
  margin-left: 32px !important;
}
.mleft-33 {
  margin-left: 33px !important;
}
.mleft-34 {
  margin-left: 34px !important;
}
.mleft-35 {
  margin-left: 35px !important;
}
.mleft-36 {
  margin-left: 36px !important;
}
.mleft-37 {
  margin-left: 37px !important;
}
.mleft-38 {
  margin-left: 38px !important;
}
.mleft-39 {
  margin-left: 39px !important;
}
.mleft-40 {
  margin-left: 40px !important;
}
